streamlit
pandas
scikit-learn
requests
beautifulsoup4
lxml
openai
python-dotenv
trafilatura
spacy
https://github.com/explosion/spacy-models/releases/download/pl_core_news_sm-3.7.0/pl_core_news_sm-3.7.0-py3-none-any.whl
